<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objective-&amp;-Summary" data-toc-modified-id="Objective-&amp;-Summary-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objective &amp; Summary</a></span></li><li><span><a href="#Importing-libraries-and-files" data-toc-modified-id="Importing-libraries-and-files-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importing libraries and files</a></span></li><li><span><a href="#Raw-data" data-toc-modified-id="Raw-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Raw data</a></span><ul class="toc-item"><li><span><a href="#Removing-duplicates" data-toc-modified-id="Removing-duplicates-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Removing duplicates</a></span></li></ul></li><li><span><a href="#Cleaning-columns" data-toc-modified-id="Cleaning-columns-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Cleaning columns</a></span><ul class="toc-item"><li><span><a href="#Column:-'title'" data-toc-modified-id="Column:-'title'-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Column: 'title'</a></span></li><li><span><a href="#Column:-'Location'" data-toc-modified-id="Column:-'Location'-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Column: 'Location'</a></span></li><li><span><a href="#Column:-'Details'" data-toc-modified-id="Column:-'Details'-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Column: 'Details'</a></span></li></ul></li><li><span><a href="#Next-Step" data-toc-modified-id="Next-Step-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Next Step</a></span></li></ul></div>

# Objective & Summary
To import raw data file after web scrapping (cargurus.com). Understand data and extract important information into clean columns. Data cleaning is a iterative process for EDA(exploratory data analysis) and model building. This is very first step of data cleaning where new columns are made with clean data set.

# Importing libraries and files 
Importing pandas library to work on data frame and setting up environment for further processing.

In [1]:
import pandas as pd
# turning off warnings for the notebook
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Importing raw data file here.

In [2]:
df_car = pd.read_csv('data.csv')

# Raw data
Now lets take a look at our data using .head() function. It will show us top 5 rows of data frame.

In [3]:
display(df_car.head())

,Car Title,Location,Details,Dealer,Contact,Description
0,2017 Mercedes-Benz GLS-Class GLS 450 4MATIC AW...,"Murrieta, CA · 71 mi away","Dealer's Price:\n$36,999\nLocation:\nMurrieta,...",Abramovich Motors,(951) 307-1720,Dealer's Description\nTravel in style behind t...
1,"2017 Chevrolet Tahoe Premier RWD - $39,415","Colton, CA · 52 mi away","Dealer's Price:\n$39,415\nLocation:\nColton, C...",Avis Car Sales - Colton,(951) 484-1038,Dealer's Description\nCARFAX One-Owner. Clean ...
2,"2020 Honda Accord 1.5T LX FWD - $19,697","Carson, CA · 13 mi away","Dealer's Price:\n$19,697\nLocation:\nCarson, C...",Carson Honda,(657) 500-3739,"Dealer's Description\nWheels: 17"" Silver-Paint..."
3,"2017 Ford Explorer Limited - $24,799","Victorville, CA · 64 mi away","Dealer's Price:\n$24,799\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...
4,"2017 Jeep Wrangler Sport - $24,299","Victorville, CA · 64 mi away","Dealer's Price:\n$24,299\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...

Here we can see that column 'Car Title' has information of built year, model and price which needs to be extracted into separate columns. Similarly columns 'Location' and 'Details' needs to clean as they carry important information about the car.

Here we are copying the data frame so that the original file remains unchanged during processing.

In [4]:
df = df_car.copy()

In [5]:
df.rename({'Car Title': 'title'}, axis=1, inplace=True)

Actully, I am comfortable with nonspace feature names thats why I change Car Title to title

Looking at our copied data frame (df) with changed column name.

In [6]:
display(df.head())

,title,Location,Details,Dealer,Contact,Description
0,2017 Mercedes-Benz GLS-Class GLS 450 4MATIC AW...,"Murrieta, CA · 71 mi away","Dealer's Price:\n$36,999\nLocation:\nMurrieta,...",Abramovich Motors,(951) 307-1720,Dealer's Description\nTravel in style behind t...
1,"2017 Chevrolet Tahoe Premier RWD - $39,415","Colton, CA · 52 mi away","Dealer's Price:\n$39,415\nLocation:\nColton, C...",Avis Car Sales - Colton,(951) 484-1038,Dealer's Description\nCARFAX One-Owner. Clean ...
2,"2020 Honda Accord 1.5T LX FWD - $19,697","Carson, CA · 13 mi away","Dealer's Price:\n$19,697\nLocation:\nCarson, C...",Carson Honda,(657) 500-3739,"Dealer's Description\nWheels: 17"" Silver-Paint..."
3,"2017 Ford Explorer Limited - $24,799","Victorville, CA · 64 mi away","Dealer's Price:\n$24,799\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...
4,"2017 Jeep Wrangler Sport - $24,299","Victorville, CA · 64 mi away","Dealer's Price:\n$24,299\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...

Lets take a quick look at total number of rows and columns

In [7]:
df.shape
#(rows,columns)

(2897, 6)

In our code we used -1 to fill the data if no entry was found. Since 'title' and 'Details' are two important columns for the car so we are going to remove those rows with -1 as entry.

In [8]:
df = df[df['title'] != '-1']
df = df[df['Details'] != '-1']

## Removing duplicates
Now lets take a look if we have duplicated rows/entry in our df.

In [9]:
# generate count statistics of duplicate entries
if len(df[df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(df[df.duplicated()]))
    display(df[df.duplicated(keep=False)].sort_values(by=list(df.columns)).head())
else:
    print("No duplicated entries found")

No. of duplicated entries:  1267

,title,Location,Details,Dealer,Contact,Description
224,"2003 Chevrolet Corvette Convertible RWD - $17,900","Lawndale, CA · 10 mi away","Dealer's Price:\n$17,900\nLocation:\nLawndale,...",Hawthorne Motors Express,(323) 772-6049,Dealer's Description\nWith ultra-high performa...
1218,"2003 Chevrolet Corvette Convertible RWD - $17,900","Lawndale, CA · 10 mi away","Dealer's Price:\n$17,900\nLocation:\nLawndale,...",Hawthorne Motors Express,(323) 772-6049,Dealer's Description\nWith ultra-high performa...
2086,"2003 Chevrolet Corvette Convertible RWD - $17,900","Lawndale, CA · 10 mi away","Dealer's Price:\n$17,900\nLocation:\nLawndale,...",Hawthorne Motors Express,(323) 772-6049,Dealer's Description\nWith ultra-high performa...
189,"2003 Jeep Wrangler X - $11,500","Covina, CA · 21 mi away","Dealer's Price:\n$11,500\nLocation:\nCovina, C...",Alltech Autos,(626) 602-9487,Dealer's Description\nAdditional Information\n...
1184,"2003 Jeep Wrangler X - $11,500","Covina, CA · 21 mi away","Dealer's Price:\n$11,500\nLocation:\nCovina, C...",Alltech Autos,(626) 602-9487,Dealer's Description\nAdditional Information\n...

Here we can see that we do have duplicated entries which needs to be removed. The function .drop_duplicates() does that in one line.

In [10]:
df = df.drop_duplicates().reset_index(drop = True) #remove duplicate rows based on all columns

Now lets take a quick look again at total rows and columns

In [11]:
df.shape

(1622, 6)

# Cleaning columns
Lets break the 'title' column into price, model and year.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1622 non-null   object
 1   Location     1622 non-null   object
 2   Details      1622 non-null   object
 3   Dealer       1622 non-null   object
 4   Contact      1622 non-null   object
 5   Description  1622 non-null   object
dtypes: object(6)
memory usage: 76.2+ KB

## Column: 'title'

In [13]:
df['title'][1]

'2017 Chevrolet Tahoe Premier RWD - $39,415'

We will use lambda function to break, edit and filter rows.

In [14]:
df['price($)'] = df['title'].apply(lambda x: x.split(' ')[-1])
df['price($)'].head()

0    $36,999
1    $39,415
2    $19,697
3    $24,799
4    $24,299
Name: price($), dtype: object

We need to remove $ and , signs and covert our data type into integer.

In [15]:
df['price($)'] = df['price($)'].apply(lambda x: int(x.replace('$','').replace(',',''))) #remove $ and ,
df['price($)'].head()

0    36999
1    39415
2    19697
3    24799
4    24299
Name: price($), dtype: int64

Extracting year information below.

In [16]:
df['year'] = df['title'].apply(lambda x: int(x.split(' ')[0]))
df['year'].head()

0    2017
1    2017
2    2020
3    2017
4    2017
Name: year, dtype: int64

Converting year into age of car.

In [17]:
current_year = 2024;
df['age_of_car'] = df['year'].apply(lambda x: current_year - x)
df['age_of_car'].head()

0    7
1    7
2    4
3    7
4    7
Name: age_of_car, dtype: int64

Extracting model of car from 'title' column below.

In [18]:
df['model'] = df['title'].apply(lambda x: x.split(' ')[1])
df['model'].value_counts()

model
Ford             153
Chevrolet        145
Toyota           136
Honda            123
Mercedes-Benz    102
Nissan            98
BMW               87
Lexus             83
Jeep              72
Kia               59
RAM               55
GMC               53
Audi              46
Hyundai           40
Dodge             38
Mazda             37
Acura             34
Volkswagen        34
Land              31
Chrysler          28
Subaru            25
MINI              25
Cadillac          24
INFINITI          19
Porsche           17
Mitsubishi        10
Volvo              9
Jaguar             8
Buick              7
Maserati           4
Scion              3
Lincoln            3
Tesla              2
Bentley            2
Ferrari            2
FIAT               2
Genesis            2
Alfa               2
Rolls-Royce        1
Aston              1
Name: count, dtype: int64

In [19]:
df.head(5)

,title,Location,Details,Dealer,Contact,Description,price($),year,age_of_car,model
0,2017 Mercedes-Benz GLS-Class GLS 450 4MATIC AW...,"Murrieta, CA · 71 mi away","Dealer's Price:\n$36,999\nLocation:\nMurrieta,...",Abramovich Motors,(951) 307-1720,Dealer's Description\nTravel in style behind t...,36999,2017,7,Mercedes-Benz
1,"2017 Chevrolet Tahoe Premier RWD - $39,415","Colton, CA · 52 mi away","Dealer's Price:\n$39,415\nLocation:\nColton, C...",Avis Car Sales - Colton,(951) 484-1038,Dealer's Description\nCARFAX One-Owner. Clean ...,39415,2017,7,Chevrolet
2,"2020 Honda Accord 1.5T LX FWD - $19,697","Carson, CA · 13 mi away","Dealer's Price:\n$19,697\nLocation:\nCarson, C...",Carson Honda,(657) 500-3739,"Dealer's Description\nWheels: 17"" Silver-Paint...",19697,2020,4,Honda
3,"2017 Ford Explorer Limited - $24,799","Victorville, CA · 64 mi away","Dealer's Price:\n$24,799\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...,24799,2017,7,Ford
4,"2017 Jeep Wrangler Sport - $24,299","Victorville, CA · 64 mi away","Dealer's Price:\n$24,299\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...,24299,2017,7,Jeep

I have extracted the important information from 'title' column into year, price and model. Lets move on to 'Location' column.

## Column: 'Location'

In [20]:
df['Location'][1]

'Colton, CA · 52 mi away'

I will just extract the state from the location column.

In [21]:
df['location'] = df['Location'].apply(lambda x: x if len(x)<3 else x.split(',')[1].split()[0])
df['location'].value_counts()

location
CA    1032
WA     514
-1      76
Name: count, dtype: int64

Lets move on to 'Details' column and take a look at what details does it carry. It is possible that in this column some information is missing for some of the rows as all user does not provide all the information.

## Column: 'Details'

In [22]:
df['Details'][1]

"Dealer's Price:\n$39,415\nLocation:\nColton, CA\n52 mi away\nMileage:\n36,052 miles\nTransmission:\n6-Speed Automatic Overdrive\nExterior Color:\nBlack\nInterior Color:\nJet Black\nEngine:\nV8 Flex Fuel Vehicle\nDrivetrain:\n4X2\nFuel Type:\nFlex Fuel Vehicle\nVIN:\n1GNSCCKC9HR164743\nStock #:\n80506020\nMajor Options:\nLeather Seats, Power Package, Navigation System, Suspension Package, Alloy Wheels, Third Row Seating, Blind Spot Monitoring, Parking Sensors, Heated Seats, Android Auto, CarPlay, Bluetooth, Memory Package, Backup Camera, Remote Start\nNHTSA Overall Safety Rating:"

Below I am going to find the index of column which carries the longest detail information so that we don't miss any information.

In [23]:
df['len_of details'] =df['Details'].apply(lambda x: len(x))
index_detail = df['len_of details'].idxmax(axis=0) # gives index of max detail so nothing gets missing

In [24]:
df['Details'][index_detail]

"Dealer's Price:\n$40,888\nLocation:\nBeverly Hills, CA\n9 mi away\nMileage:\n3,285 miles\nTransmission:\n8-Speed Automatic\nExterior Color:\nNightfall\nInterior Color:\nBirch Nuluxe[nu\nGas Mileage:\n20 MPG City\n27 MPG Highway\n23 MPG Combined\nEngine:\nV6\nDrivetrain:\nFront-Wheel Drive\nFuel Type:\nGasoline\nVIN:\n2T2AZMAA1LC160435\nStock #:\n5710P\nMajor Options:\nPerformance Package, Popular Equipment Package, Power Mirror Package, Power Package, Preferred Accessory Package, Preferred Equipment Package, Alloy Wheels, Preferred Package, Premium Audio Package, Blind Spot Monitoring, Parking Sensors, Premium Package, Heated Seats, Premium Sound Package, Android Auto, CarPlay, Luxury Package, Multi Zone Climate Control, Acoustical Package, Ambient Light Package, SE Package, Appearance Package, Audio Package, Cargo Package, Sound Package, Convenience Package, Sport Activity Package, Sport Package, Extra Value Package, Suspension Package, Technology Package, Graphics Package, Heat Package, Utility Package, Value Package, Light Package, Bluetooth, Backup Camera, Multimedia Package, Remote Start, Performance Handling Package"

From the above we can see that all the key information does have keyword before which is helpful in extracting the information. Below I am using a function to extract information based on the keyword.Here I use partition()

In [25]:
def Details_parsing(Column, Keyword):
    """
    This function cleans the info in Features Table. It takes
    a keyword and checks every row of pandas series for a match.
    The first word after the match is 
    stored in the column to be returned.
    """ 
    col = Column.apply(lambda x: str(x).partition(Keyword)[2].partition('\n')[2].partition('\n')[0])
    return col.apply(lambda x: -1 if len(x)<1 else x)

Extracting type of transmission in car below.

In [26]:
df['Transmission'] = Details_parsing(df['Details'], 'Transmission')
df['Transmission'].head()

0                             Automatic
1           6-Speed Automatic Overdrive
2    Continuously Variable Transmission
3                     6-Speed Automatic
4                     5-Speed Automatic
Name: Transmission, dtype: object

Breaking different kind of transmission into two main categories : 'Automatic' and 'Manual'

In [52]:
df['Transmission'] = df['Transmission'].apply(lambda x: 'Automatic' if "Automatic" in str(x)  else('Manual' if "Manual" in str(x) else -1))
df['Transmission'].value_counts()

Transmission
Automatic    1371
-1            214
Manual         37
Name: count, dtype: int64

Extracting mileage (miles) of car. This is a odometer reading.

In [53]:
df['Mileage(miles)'] = Details_parsing(df['Details'], 'Mileage')
df['Mileage(miles)'].head()

0    30,336 miles
1    36,052 miles
2    17,000 miles
3    39,221 miles
4    33,961 miles
Name: Mileage(miles), dtype: object

Cleaning the mileage column by removing , and miles.

In [54]:
df['Mileage(miles)'] = df['Mileage(miles)'].apply(lambda x: int(x.split(' ')[0].replace(',','')))
df['Mileage(miles)'].head()

0    30336
1    36052
2    17000
3    39221
4    33961
Name: Mileage(miles), dtype: int64

Extracting exterior color of the car.

In [55]:
df['Exterior_Color'] = Details_parsing(df['Details'], 'Exterior Color')
df['Exterior_Color'].value_counts().head(5)

Exterior_Color
Black     198
White     146
Gray      114
Silver     99
-1         45
Name: count, dtype: int64

There are so many color but most car have 6 common color as described below. We will categorize all of them into 6 major colors below.

In [56]:
def Color_sorting(Column):
    Color = ("Black", "White", "Silver", "Red", "Blue", "Gray")
    col1 = Column.apply(lambda x: "Black" if "black" in str(x).lower() else x)
    col2 = col1.apply(lambda x: "White" if "white" in str(x).lower() else x)
    col3 = col2.apply(lambda x: "Gray" if "gray" in str(x).lower() else x)
    col4 = col3.apply(lambda x: "Silver" if "silver" in str(x).lower() else x)
    col5 = col4.apply(lambda x: "Red" if "red" in str(x).lower() else x)
    col6 = col5.apply(lambda x: "Blue" if "blue" in str(x).lower() else x)
    col7 = col6.apply(lambda x: x if x in Color else -1)
    return col7  ##cleans color

In [57]:
df['Exterior_Color'] = Color_sorting(df['Exterior_Color'])
df['Exterior_Color'].value_counts()

Exterior_Color
Black     369
White     352
Silver    270
Gray      245
-1        181
Blue      110
Red        95
Name: count, dtype: int64

Similarly for interior color of the car.

In [58]:
df['Interior_Color'] = Details_parsing(df['Details'], 'Interior Color')
df['Interior_Color'].head()

0          Black
1      Jet Black
2          Black
3    Ebony Black
4          Black
Name: Interior_Color, dtype: object

In [59]:
df['Interior_Color'] = Color_sorting(df['Interior_Color'])
df['Interior_Color'].value_counts()

Interior_Color
Black     1036
-1         410
Gray       139
Red         17
White       16
Silver       4
Name: count, dtype: int64

Extracting the gas mileage of car. Information carries city, highway and combined mileage information.

In [60]:
df['Gas_mileage_city(MPG)'] = Details_parsing(df['Details'], 'Gas Mileage')
df['Gas_mileage_city(MPG)'].head()

0    17 MPG City
1             -1
2    30 MPG City
3    17 MPG City
4    17 MPG City
Name: Gas_mileage_city(MPG), dtype: object

Cleaning the column by removing MPG and City.

In [62]:
df['Gas_mileage_city(MPG)'] = df['Gas_mileage_city(MPG)'].apply(lambda x: int(str(x).split(' MPG')[0]))
df['Gas_mileage_city(MPG)'].head()

0    17
1    -1
2    30
3    17
4    17
Name: Gas_mileage_city(MPG), dtype: int64

In [63]:
df['Gas_mileage_HW(MPG)'] = Details_parsing(df['Details'], 'MPG City')
df['Gas_mileage_HW(MPG)'].head()

0    22 MPG Highway
1                -1
2    38 MPG Highway
3    24 MPG Highway
4    21 MPG Highway
Name: Gas_mileage_HW(MPG), dtype: object

In [64]:
df['Gas_mileage_HW(MPG)'] = df['Gas_mileage_HW(MPG)'].apply(lambda x: int(str(x).split(' MPG')[0]))
df['Gas_mileage_HW(MPG)'].head()

0    22
1    -1
2    38
3    24
4    21
Name: Gas_mileage_HW(MPG), dtype: int64

In [65]:
df['Gas_mileage_comb(MPG)'] = Details_parsing(df['Details'], 'MPG Highway')
df['Gas_mileage_comb(MPG)'].head()

0    19 MPG Combined
1                 -1
2    33 MPG Combined
3    20 MPG Combined
4    18 MPG Combined
Name: Gas_mileage_comb(MPG), dtype: object

In [67]:
df['Gas_mileage_comb(MPG)'] = df['Gas_mileage_comb(MPG)'].apply(lambda x: int(str(x).split(' MPG')[0]))
df['Gas_mileage_comb(MPG)'].head()

0    19
1    -1
2    33
3    20
4    18
Name: Gas_mileage_comb(MPG), dtype: int64

Extracting Engine inforamtion below.

In [68]:
df['Engine'] = Details_parsing(df['Details'], 'Engine')
df['Engine'].head()

0                      V6
1    V8 Flex Fuel Vehicle
2                      I4
3                      V6
4                      V6
Name: Engine, dtype: object

Simplifying the Engine information.

In [69]:
df['Engine'] = df['Engine'].apply(lambda x: str(x).split()[0]) # required to get clean type
df['Engine'].value_counts()

Engine
I4     797
V6     420
V8     272
-1      40
I6      35
H4      25
I3      18
I5       5
H6       4
V12      2
I2       2
V10      1
W12      1
Name: count, dtype: int64

Extracting type of drivetrain.

In [70]:
df['Drivetrain'] = Details_parsing(df['Details'], 'Drivetrain')
df['Drivetrain'].value_counts()

Drivetrain
Front-Wheel Drive    653
All-Wheel Drive      348
Four-Wheel Drive     248
Rear-Wheel Drive     233
4X2                   79
-1                    61
Name: count, dtype: int64

Merging 4X2 into FWD as the number of car with 4X2 drivetrain is less and FWD is a very common drivetrain. 4X2 can be FWD or RWD if not mentioned.

In [71]:
df['Drivetrain'] = df['Drivetrain'].apply(lambda x: 'Front-Wheel Drive' if x == '4X2' else x)
df['Drivetrain'].value_counts()  #merging 4X2 into "FWD"

Drivetrain
Front-Wheel Drive    732
All-Wheel Drive      348
Four-Wheel Drive     248
Rear-Wheel Drive     233
-1                    61
Name: count, dtype: int64

Extracting fuel type of the car.

In [72]:
df['Fuel_type'] = Details_parsing(df['Details'], 'Fuel Type')
df['Fuel_type'].value_counts()

Fuel_type
Gasoline             1420
Flex Fuel Vehicle      79
Hybrid                 39
-1                     22
Diesel                 22
Biodiesel              22
Electric               18
Name: count, dtype: int64

Lets take a look at Major option keyword in 'Details' column. It carries information of extra features which comes with car.

In [73]:
df['Major Options'] = Details_parsing(df['Details'], 'Major Options')
df['Major Options'][1]

'Leather Seats, Power Package, Navigation System, Suspension Package, Alloy Wheels, Third Row Seating, Blind Spot Monitoring, Parking Sensors, Heated Seats, Android Auto, CarPlay, Bluetooth, Memory Package, Backup Camera, Remote Start'

Below I converted the key features into total number number of features a car has.

In [74]:
df['No._of_features'] = df['Major Options'].apply(lambda x: len(str(x).split(',')) if x!= -1 else x)
df['No._of_features'].head()

0     5
1    15
2     5
3     7
4     1
Name: No._of_features, dtype: int64

For now I will just take the length of description.

In [75]:
df['description_len'] =df['Description'].apply(lambda x: len(x))
df['description_len'].head()

0    2551
1    6158
2    2683
3    3341
4    2090
Name: description_len, dtype: int64

In [49]:
# df_final = df.drop(columns=['title', 'year', 'Location', 'Details', 'Dealer', 'Contact', 'Description', 'len_of details', 'Major Options'])

Take a final look into cleaned data frame before saving for EDA.

In [50]:
display(df.head(10))

,title,Location,Details,Dealer,Contact,Description,price($),year,age_of_car,model,location,len_of details,Transmission,Mileage(miles),Exterior_Color,Interior_Color,Gas_mileage_city(MPG),Gas_mileage_HW(MPG),Gas_mileage_comb(MPG),Engine,Drivetrain,Fuel_type,Major Options,No._of_features,description_len
0,2017 Mercedes-Benz GLS-Class GLS 450 4MATIC AW...,"Murrieta, CA · 71 mi away","Dealer's Price:\n$36,999\nLocation:\nMurrieta,...",Abramovich Motors,(951) 307-1720,Dealer's Description\nTravel in style behind t...,36999,2017,7,Mercedes-Benz,CA,412,Automatic,30336,Silver,Black,17,22,19,V6,All-Wheel Drive,Gasoline,"Bluetooth, Backup Camera, Sunroof/Moonroof, He...",5,2551
1,"2017 Chevrolet Tahoe Premier RWD - $39,415","Colton, CA · 52 mi away","Dealer's Price:\n$39,415\nLocation:\nColton, C...",Avis Car Sales - Colton,(951) 484-1038,Dealer's Description\nCARFAX One-Owner. Clean ...,39415,2017,7,Chevrolet,CA,560,Automatic,36052,Black,Black,-1,-1,-1,V8,Front-Wheel Drive,Flex Fuel Vehicle,"Leather Seats, Power Package, Navigation Syste...",15,6158
2,"2020 Honda Accord 1.5T LX FWD - $19,697","Carson, CA · 13 mi away","Dealer's Price:\n$19,697\nLocation:\nCarson, C...",Carson Honda,(657) 500-3739,"Dealer's Description\nWheels: 17"" Silver-Paint...",19697,2020,4,Honda,CA,419,-1,17000,Gray,Black,30,38,33,I4,Front-Wheel Drive,Gasoline,"Bluetooth, Backup Camera, Adaptive Cruise Cont...",5,2683
3,"2017 Ford Explorer Limited - $24,799","Victorville, CA · 64 mi away","Dealer's Price:\n$24,799\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...,24799,2017,7,Ford,CA,468,Automatic,39221,Gray,Black,17,24,20,V6,Front-Wheel Drive,Gasoline,"Navigation System, Alloy Wheels, Third Row Sea...",7,3341
4,"2017 Jeep Wrangler Sport - $24,299","Victorville, CA · 64 mi away","Dealer's Price:\n$24,299\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...,24299,2017,7,Jeep,CA,343,Automatic,33961,White,Black,17,21,18,V6,Four-Wheel Drive,Gasoline,Steel Wheels,1,2090
5,"2020 Mazda CX-9 Grand Touring AWD - $29,205","Colton, CA · 52 mi away","Dealer's Price:\n$29,205\nLocation:\nColton, C...",Avis Car Sales - Colton,(951) 484-1038,Dealer's Description\nCARFAX One-Owner. Clean ...,29205,2020,4,Mazda,CA,595,Automatic,38417,Silver,Black,20,26,22,I4,All-Wheel Drive,Gasoline,"Leather Seats, Sunroof/Moonroof, Power Package...",14,4152
6,"2017 Nissan Rogue SL FWD - $11,980","Palmdale, CA · 40 mi away","Dealer's Price:\n$11,980\nLocation:\nPalmdale,...",Blue Rhino Motors II,(661) 762-5992,Dealer's Description\nAll prices are cash only...,11980,2017,7,Nissan,CA,685,Automatic,115355,Silver,Black,26,33,29,I4,Front-Wheel Drive,Gasoline,"Leather Seats, Sunroof/Moonroof, Power Package...",21,1027
7,"2018 Chevrolet Tahoe Premier RWD - $40,899","Victorville, CA · 64 mi away","Dealer's Price:\n$40,899\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...,40899,2018,6,Chevrolet,CA,508,Automatic,27980,Black,-1,-1,-1,-1,V8,Front-Wheel Drive,Gasoline,"Leather Seats, Navigation System, Suspension P...",13,4661
8,"2018 Chevrolet Tahoe Premier RWD - $40,199","Victorville, CA · 64 mi away","Dealer's Price:\n$40,199\nLocation:\nVictorvil...",Avis Car Sales - Victorville,(442) 233-3364,Dealer's Description\nCARFAX One-Owner. Clean ...,40199,2018,6,Chevrolet,CA,525,Automatic,33232,Silver,-1,-1,-1,-1,V8,Front-Wheel Drive,Gasoline,"Leather Seats, Navigation System, Suspension P...",14,4617
9,"2020 Cadillac XT6 Premium Luxury FWD - $43,995","Torrance, CA · 12 mi away","Dealer's Price:\n$43,995\nLocation:\nTorrance,...",Penske Cadillac of South Bay,(424) 306-0815,Dealer's Description\nCrystal White Tricoat 20...,43995,2020,4,Cadillac,CA,649,Automatic,3046,White,Black,18,25,21,V6,Front-Wheel Drive,Gasoline,"Leather Seats, Sunroof/Moonroof, Navigation Sy...",17,3689

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  1622 non-null   object
 1   Location               1622 non-null   object
 2   Details                1622 non-null   object
 3   Dealer                 1622 non-null   object
 4   Contact                1622 non-null   object
 5   Description            1622 non-null   object
 6   price($)               1622 non-null   int64
 7   year                   1622 non-null   int64
 8   age_of_car             1622 non-null   int64
 9   model                  1622 non-null   object
 10  location               1622 non-null   object
 11  len_of details         1622 non-null   int64
 12  Transmission           1622 non-null   object
 13  Mileage(miles)         1622 non-null   int64
 14  Exterior_Color         1622 non-null   object
 15  Interior_Color         1622 non-null   object
 16  Gas_mileage_city(MPG)  1622 non-null   int64
 17  Gas_mileage_HW(MPG)    1622 non-null   int64
 18  Gas_mileage_comb(MPG)  1622 non-null   int64
 19  Engine                 1622 non-null   object
 20  Drivetrain             1622 non-null   object
 21  Fuel_type              1622 non-null   object
 22  Major Options          1622 non-null   object
 23  No._of_features        1622 non-null   int64
 24  description_len        1622 non-null   int64
dtypes: int64(10), object(15)
memory usage: 316.9+ KB

Saving final file into csv form.

In [77]:
df.to_csv(r'C:\Users\91810\project\car_price clean_data.csv', index= False)

# Next Step
Perform EDA and model building in this clean data frame.